<div class="container">
  <div *ngFor="let product of menus">
    <div class="container-product">
      <div class="product-image" (click)="viewDetailProduct(product)">
        <img [src]="product.image" />
      </div>
      <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p class="product-description">
          {{ product.description | truncateText : 120 }}
        </p>
      </div>
      <div class="container-product-price">
        <div class="product-price">
          <label>${{ product.price }}</label>
        </div>
        <div class="product-car-shoping">
          <i
            class="fa-solid fa-cart-plus"
            (click)="addShoppingCart(product)"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '45%' }"
  [closable]="true"
  [draggable]="false"
>
  <app-product-detail [dataProduct]="productDetail"></app-product-detail>
</p-dialog>

<p-sidebar [(visible)]="ShowShoppingCartBool" position="right">
  <h3>Carro de compra</h3>

  <ng-template pTemplate="content">
    <form [formGroup]="dataForm">
      <div *ngFor="let productItems of shoppingCart">
        <div class="card-shopping-cart">
          <div class="product-shopping mr-2">
            <img [src]="productItems.image" />
          </div>
          <div class="shopping-name">
            <p>{{ productItems.name | truncateText : 30 }}</p>
            <input
              type="number"
              min="1"
              pInputText
              formControlName="{{ 'producto' + productItems.id }}"
              class="col-md-6 my-2"
              (change)="
                calcularCantidad(
                  productItems,
                  dataForm.controls['producto' + productItems.id].value
                )
              "
              placeholder="Cantidad"
            />
          </div>
        </div>
        <hr />
      </div>
    </form>

    <div *ngIf="shoppingCart.length == 0">
      <div
        style="
          text-align: center;
          height: 60vh;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div style="display: flex; flex-direction: column">
          <i class="pi pi-cart-plus" style="font-size: 32px"></i>
          <p>Aun no cuentas con elementos en tu carrito</p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="card-shopping-footer" *ngIf="shoppingCart.length > 0">
      <p-button
        class="p-button-secondary"
        (click)="confirm1()"
        severity="secondary"
        icon="pi pi-trash"
      ></p-button>

      <button
        pButton
        pRipple
        label="Realizar pedido $ {{ total }}"
        class="p-button-success"
        (click)="payment()"
      ></button>
    </div>
  </ng-template>
</p-sidebar>

<p-toast></p-toast>

<div class="container-buttun-showpping-cart">
  <p-button
    icon="pi pi-cart-plus"
    styleClass="p-button-rounded p-button-secondary"
    (click)="showShoppingCart()"
  ></p-button>
</div>

<p-confirmDialog [style]="{ width: '30vw' }"></p-confirmDialog>

<!--Inicio pasarela de pago-->
<p-dialog
  [(visible)]="visiblePayment"
  [modal]="true"
  [style]="{ width: '80%' }"
  [closable]="true"
  [draggable]="false"
>
  <div>
    <p-steps
      [model]="itemsStep"
      [(activeIndex)]="activeIndex"
      class="customstepper"
      [readonly]="false"
    ></p-steps>
  </div>

  <div *ngIf="activeIndex == 0">
    <app-payment-method
      (enviarDato)="recibirData($event)"
      [itemActual]="activeIndex"
    ></app-payment-method>
  </div>

  <div *ngIf="activeIndex == 1">
    <app-info-person
    (enviarDato)="saveInfoUser($event)"
    ></app-info-person>
  </div>
</p-dialog>
<!--Fin pasarela de pago-->
