<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> personal information </ng-template>
    <ng-template pTemplate="subtitle"> Enter your personal information </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid formgrid grid">
        <div class="row">
          <div class="field col-lg-6 col-md-6 col-sm-12">
            <label for="class"> Name </label>
            <input
              type="text"
              required
              pInputText
              [(ngModel)]="cardholderName"
            />
          </div>
          <div class="field col-lg-6 col-md-6 col-sm-12">
            <label for="class"> last name </label>
            <input
              type="text"
              required
              pInputText
              [(ngModel)]="cardholderlastName"
            />
          </div>
        </div>

        <div class="field col-12">
          <label  for="lastname"> e-mail </label>
          <input type="email" required pInputText [(ngModel)]="email" />
        </div>

        <div class="row">
          <div class="field col-12">
            <label id="number" for="lastname">Billing address</label>
            <input type="text" required pInputText [(ngModel)]="address" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
