<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> Información de pago </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="formPayment">
        <div class="p-fluid formgrid grid">
          <div class="field col-12">
            <label for="class">Nombre del titular de la tarjeta</label>
            <input
              type="text"
              required
              pInputText
              formControlName="cardholderName"
            />
            <div
              *ngIf="formPayment.get('cardholderName')?.touched && formPayment.get('cardholderName')?.errors?.['required']"
              class="alert alert-danger"
            >
              this fiel is required
            </div>
          </div>
          <div class="row">
            <div class="field col-sm-12 col-md-8">
              <label id="number" for="lastname">Número</label>
              <p-inputMask
                inputId="number"
                mask="9999-9999-9999-9999"
                formControlName="cardholderNumber"
              ></p-inputMask>
              <div
                *ngIf="formPayment.get('cardholderNumber')?.touched && formPayment.get('cardholderNumber')?.errors?.['required']"
                class="alert alert-danger"
              >
                this fiel is required
              </div>
            </div>
            <div class="field col-6 col-md-4">
              <label id="date" for="date">Fecha</label>
              <p-inputMask
                inputId="date"
                mask="99/99"
                formControlName="date"
              ></p-inputMask>
              <div
                *ngIf="formPayment.get('date')?.touched && formPayment.get('date')?.errors?.['required']"
                class="alert alert-danger"
              >
                this fiel is required
              </div>
            </div>
            <div class="field col-6">
              <label for="cvv">CVV</label>
              <p-inputMask
                id="cvv"
                mask="999"
                formControlName="cvv"
              ></p-inputMask>
              <div
                *ngIf="formPayment.get('cvv')?.touched && formPayment.get('cvv')?.errors?.['required']"
                class="alert alert-danger"
              >
                this fiel is required
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="justify-content-end" style="display: flex">
        <p-button
          label="Siguiente"
          (onClick)="validateForm()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-toast></p-toast>

